.item {
  min-height: 70px;
  display: flex;
  align-items: center;
  padding: 5px 5px;
}

input:checked + p {
  text-decoration: line-through;
  text-decoration-color: #9653a2;
}

input[type="checkbox"] {
  margin: 20px;
}
p {
  margin: 0;
  padding: 20px;
  font-size: 20px;
  font-weight: 200;
  color: #00204a;
}
form.item {
  text-align: center;
  margin-left: 20px;
}

.item:last-child {
  border-bottom: 0;
}

img {
  width: 40px;
  height: 40px;
  margin-left: auto;
  margin-right: 3%;
}

.lineThroughComplete {
  text-decoration: line-through;
  text-decoration-color: #9653a2;
}

.createdAt {
  font-size: 15px;
}
